1. What are data structures and why are they important?
    - Data structures are organized ways to store, manage, and retrieve data effectively. Ex: arrays, linked lists, stacks, queues, trees, and graphs. It is important because it enables efficient data manipulation, storage, retrieval, and processing.


2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after their creation.
 Ex: lists (`my_list = [1, 2, 3]`) and dictionaries (`my_dict = {'key': 'value'}`).
  - ImmItable data types cannot be changed once created.
  Ex: strings (`my_string = "hello"`), tuples (`my_tuple = (1, 2, 3)`), and frozensets (`my_frozenset = frozenset([1, 2, 3])`).


3. What are the main differences between lists and tuples in Python?
  - Lists are mutable, meaning they can be modified after creation (`my_list = [1, 2, 3]`). They use square brackets.
  - Tuples are immutable, meaning they cannot be modified after creation (`my_tuple = (1, 2, 3)`). They use parentheses.


4. Describe how dictionaries store data.
  - Dictionaries store data in key-value pairs. Each key is unique and maps to a corresponding value, allowing for fast data retrieval based on the key. For example: `my_dict = {'name': 'Ajay', 'age': 31}`.



5. Why might you use a set instead of a list in Python?
  - Sets are used when we need to store unique elements and perform operations like union, intersection, and difference efficiently. They are optimized for membership tests and lists allow duplicate elements.


6. What is a string in Python, and how is it different from a list?
  - String: It is a sequence of characters (`my_string = "hello"`). Unlike lists, strings are immutable, i.e. their content/ value cannot be changed once created.
  - List: They mutable and can contain elements of different data types (`my_list = [1, 'a', 3.14]`).


7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, so once they are created, their elements cannot be changed. This immutability ensures that the data remains consistent and unchanged, hence ensuring data integrity.


8. What is a hash table, and does it relate to dictionaries in Python
  - A hash table is a data structure that maps keys to values using a hash function. since dictionaries are implemented using hash tables, it is related.


9. can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types.
  Ex: `my_list = [1, 'a', 3.14, [1, 2, 3]]`.


10. explain why strings are immutable in Python.
  - Strings are immutable to ensure data consistency and security, as they are often used as keys in dictionaries and require fixed hash values.

11. What advantages do dictionaries offer over lists for certain tasks?
tasks?
  - Dictionaries provide fast lookups, insertions, and deletions based on keys. Lists are better suited for ordered collections and sequential data processing.


 12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are preferable when you need to store a fixed collection of elements that should not change, such as coordinates of a point `(x, y)` or a record with a fixed structure.


13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values upon creation.
  Ex: `my_set = set([1, 2, 2, 3])` will result in `my_set = {1, 2, 3]) will result in my_set = {1, 2, 3}.


14. How does the "in" keyword work differently for lists and dictionaries?
  - For lists, the "in" keyword checks if a value is present in the list (`value in my_list`).
  - For dictionaries, it checks if a key is present in the dictionary (`key in my_dict`).


15. can you modify the elements of a tuple? Explain why or why not.
  - No, we cannot modify the elements of a tuple because tuples are immutable. Once created, their elements cannot be changed.


16. What is a nested complexity of accessing elements in a dictionary?
  - Accessing elements in a nested dictionary involves multiple lookups.
  Ex: `data['key1']['key2']` requires two lookups, which adds complexity compared to a single-level dictionary.

                                                                        
17. Describe the time complexity of accessing elements in a dictionary.
  
                                                                       
18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when you need to maintain the order of elements, perform sequential data processing, or store a collection of elements without unique keys.


19. Why are dictionaries considered unordered, and how does that affect data retrieval
  - Dictionaries are considered unordered because their elements are stored based on their hash values, not in the order they were added. so data retrieval is based on keys and not positional indexing.

In [1]:
# Write a code to create a string with your name and print it.
a="Prashanth"
print(a)

Prashanth

In [2]:
# Write a code to find the length of the string "Hello World".
a="Prashanth"
length=len(a)
print("Length of string=", length)

Length of string= 9

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".
a="Python Programming"
slice=a[:3]
print("first 3 characters:",slice)

first 3 characters: Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase.
a="hello"
uppercase=a.upper()
uppercase

'HELLO'

In [6]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="I like apple"
replace=a.replace("apple","orange")
replace

'I like orange'

In [7]:
# Write a code to create a list with nmumbers 1 to 5 and print it.
a=[1,2,3,4,5]
print("My List:",a)

My List: [1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1,2,3,4].
a=[1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1,2,3,4,5].
a=[1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c'. 'd'].
a=['a','b','c','d']
second_ele=a[1]
second_ele

'b'

In [11]:
# Write a code to reverse the list [10,20.30,40,50].
a=[10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [12]:
# Write a code to create a tuple with the elements 10,20,30 and print it.
a=(10,20,30)
print("My Tuple:",a)

My Tuple: (10, 20, 30)

In [13]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a=('apple', 'banana', 'cherry')
first_ele=a[0]
first_ele

'apple'

In [14]:
# Write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).
a=(1,2,3,2,4,2)
count=a.count(2)
count

3

In [15]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat','rabbit').
a=('dog', 'cat','rabbit')
index=a.index('cat') #dog=0, rabbit=2
index

1

In [16]:
# Write a code to check if the element "banana" is in the tuple ('apple, 'orange', 'banana').
a=('apple', 'orange', 'banana')
check="banana" in a
check

True

In [17]:
# Write a code to create a set with the elements 1,2,3,4,5 and print it.
a={1,2,3,4,5}
print("My Set:",a)

My Set: {1, 2, 3, 4, 5}

In [18]:
# Write a code to add the element 6 to the set {1,2,3,4}.
a={1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}